body {
    color: #1d2129;
}


a {
    
    color: #365899;
}

nav {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
}


#logo {
    background-image: url("assets/55lZAVKDDXl.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 170px;
    height: 34px;
    background-position: 0 -49px;
}

#content {
    background-color: #e9ebee;
    min-height: 300px;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.info-alert {
    border: 1px solid #4080ff;
    border-radius: 3px 0 0 3px;
    
}

.notice {
    background-image: url("assets/55lZAVKDDXl.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -342px -49px;
}

.ico-holder {
    background-color: #4080ff;

    overflow: hidden;
    padding: 8px 8px 2px 8px;
}

.login-container {
    width: 600px;
}

.notice-text {
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
}

.form-content {
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.form-header {
    font-size: 18px;
    line-height: 22px;
}

.warning-alert{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    font-size: .8em;
}

.form-content input {
    width: 100%;
    border: 1px solid #dddfe2;
    padding: 5px 8px;
}

.login-btn {
    background-color: #4267b2;
    border-color: #4267b2;
    border-radius: 0!important;
    font-weight: 500;
    color: #fff;
}

.forgot {
    font-size: .8em;
}


#pageFooter {
    font-size: .8em;
    color: #737373;
    margin: 0 auto;
    width: 980px;
}


._2pid {
    padding-top: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


._4ki._6-h>li:first-child {
    padding-left: 0;
}
._4ki._6-i>li {
    padding-right: 0;
}
._4ki._6-j>li {
    padding-left: 10px;
    padding-right: 10px;
}
.uiList>li:first-child {
    border-width: 0;
}
._509->li {
    vertical-align: top;
}
._4ki>li {
    border-width: 0 0 0 1px;
    display: inline-block;
}

#pageFooter a:last-child {
    margin-right: 0;
}
#facebook ._-kb a {
    font-family: inherit;
}
#pageFooter a {
    text-decoration: none;
    white-space: nowrap;
}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}


#contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

#pageFooter .pageFooterLinkList {
    line-height: 1.6;
    margin-left: -20px;
}

._4ki._6-i>li {
    padding-right: 0;
}
._4ki._703>li {
    padding-left: 20px;
    padding-right: 20px;
}
.uiList>li:first-child {
    border-width: 0;
}
._509->li {
    vertical-align: top;
}
._4ki>li {
    border-width: 0 0 0 1px;
    display: inline-block;
}

.invalid {
    border-color:#dc3545!important;
}